body{
    background-color: black;}


    #controles {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
        display: flex;
        flex-direction: column;

    .vel {
        margin-bottom: 10px; /* Espaçamento entre cada grupo de controle */
    }

    input[type="range"] {
        width: 100%;
    }
